body {
    background-color: goldenrod;
    width: 100%;
}

#nameLabel {
    text-align: left;
}

.addToList {
    align-items: center;
}

.addSiteForm {
    background-color: lightblue;
    width: auto;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    text-align: center;
    width: ;
}

#nameField {
    width: 250px;
}

#urlField {
    width: 250px;
}

.elements div {
    background-color: #f7f5f5;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 40px, auto;
    padding: 20px 20px 20px 20px;
}

.itemList {
    display: grid;
    grid-template-columns: 5% 30% 55% 5% 5%;
    width: 500px;    
}

.itemList h5 {
    margin: 0;
}